<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">    <!-- bean definitions here -->
    <bean  id="actor" class="com.stackroute.domain.Actor" >

        <constructor-arg name="name" value="sally"> </constructor-arg>
        <constructor-arg name="gender" value="female"> </constructor-arg>
        <constructor-arg name="age" value="30"> </constructor-arg>
     </bean>


    <bean class="com.stackroute.domain.Movie" id="movie" autowire="constructor">

    </bean>

</beans>